.botao{
	padding-top: 13.8px!important;
	padding-bottom: 14px!important;
	/*color:#fff!important;/* acrescentei para manter a cor do texto dos botoes branca, variando apenas a cor do botao*/
}
.div_navegacao_horizontal, .div_navegacao_horizontal3, .navegacao_vertical {
	background: #555;
	color: #ccc;
}
.campo_login{
	border:1px solid #444;
	background: #444;
	color: #ccc;
}
.container{
	background: #555;
}
.but-verde, .but-mais{
	color:lightgreen!important;
}
.but-menos{
	color: rgb(255, 157, 157)!important;	
	/*border-color:rgb(187, 89, 89)!important;*/	
}
.botao, .botao-mudar-pagina, .simbolo_padrao, .reload_pag, .atualizar_pagina{
	/*background: #555;*/
	background: #222;
	color:#ccc;
	border:1px solid #111!important;
	border-radius: 3px;
}
.simbolo_padrao{
	color: rgb(211, 130, 130)!important;
}
.simbolo_padrao:hover{
	color: rgb(255, 157, 157)!important;
	background: #444;
}
.botao:hover, .botao-mudar-pagina:hover, .reload_pag:hover, .atualizar_pagina:hover{
	color:#fff!important;
	background: #333;
}
.mascara{
	background-color: rgba(0, 0, 0, 0.6);
}
.mostraData{
	color:#ccc;	
}
#maisBotoes{
	top:83px;
	background: #555;
}
.div_rodape{
	background: #444;
	border:solid 1px #444;
}
.campo{
	border: 1px solid #333;
}
.cronometro {	
	border:none!important;
	background: #444!important;
}
th{
	background: #444;
	color:#ccc;
}
a{
	color:#ccc;
}
#sort{
	color:#fff;
}
.nosort {
	opacity: 0.4;
}
.div_rodape_tabela{
	border:solid 1px #444;
	background:#444;
	padding-top: 2px;
	
}
.informacao{
	background:#111;
	color:#ccc;
	border-bottom: 1px solid #111;
}
.titulo, .redes_sociais a{
	background: #777;
	color:#fff;
}
.redes_sociais{
	background: #777;
}
.primeiro{
	background: #777;
	color:#eee;
}
.sobre{
	background: #aaa;
}
.form_rodape{
	border:1px solid #111;
	background: #111;
}
.fixTableHead, .div_tabela {
	background: #333;
}
#reset{
	color: #ccc;
    padding: 13.5px 10px!important;
}
.titulo-head:hover{
	color:#fff;
}
.rodape_alterar_aparelho{
	margin-top:38px;
	background: #444;
}
.botao_inativo:hover, .botao_navegacao_vertical_desabilitado:hover {
	cursor: default;
	opacity: 0.75!important;
	color:#6e6d6d!important;
}
.botao_inativo, .botao_navegacao_vertical_desabilitado{
	color:#777!important;
}